@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');


html, body {
    height: 95%;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    font-size: min(20vw, 100px);
    background-color:lightcoral;
    transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header button{
    margin: 5px 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: min(6vw, 30px);
    background-color:transparent;
    color: white;
    border: 0px solid white;
}

.header{
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 10,10;
}

#countdown{
    text-transform: uppercase;
}