@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');


html, body {
    height: 95%;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    font-size: 12vw;
    background-color: indianred ;
    transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    -webkit-transition: background-color .2s ease-in;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100%; */
}

button{
    margin: 5px 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: min(4vw, 30px);
    background-color:transparent;
    color: white;
    border: 0px solid white;
}

.header{
    display: flex;
    align-items: right;
    justify-content: right;
    margin: 10,10;
}

#countdown{
    text-transform: uppercase;
}

.dropdown{
    position: relative;
    display: inline-block;
    display: none;

}

.dropdown div{
    height: 50px;
    /* position: relative; */
    /* display: inline-block; */
    
}